<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50126607707-3rbmaosadgm2m8dje348ti1tlnlhco2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50126607707-3rbmaosadgm2m8dje348ti1tlnlhco2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>50126607707-e8uksupct4jqaj8kbfcdne23uqvj7qr2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_rltFyqZBYkJyxedn5lx3CaiKQHFBB8</string>
	<key>GCM_SENDER_ID</key>
	<string>50126607707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zartek.aptdealz.seller</string>
	<key>PROJECT_ID</key>
	<string>aptdelaz</string>
	<key>STORAGE_BUCKET</key>
	<string>aptdelaz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50126607707:ios:7e94f85ca68f77a68bb67e</string>
	<key>DATABASE_URL</key>
	<string>https://aptdelaz.firebaseio.com</string>
</dict>
</plist>